@page "/calendar"

<PageTitle>Mootra - Browse</PageTitle>

<div class="container">
    <h1 class="display-2 p-5 text-center">Calendar</h1>

    <div class="mx-auto" style="max-width:768px;">
        <div class="col-sm">
            <div class="card bg-primary rounded p-2 m-4">
                <div class="card-body">
                    <h5 class="card-title">Happy</h5>
                    <p class="card-text">Today</p>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
}
